<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dedi.subfootball">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.READ_CALENDAR" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dedi.subfootball.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dedi.subfootball.feature.detail.Detail"
            android:parentActivityName="com.dedi.subfootball.MainActivity" />
        <activity
            android:name="com.dedi.subfootball.feature.search.SearchActivity"
            android:parentActivityName="com.dedi.subfootball.MainActivity"></activity>
        <activity
            android:name="com.dedi.subfootball.feature.teamsdetail.TeamsDetailActivity"
            android:parentActivityName="com.dedi.subfootball.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.dedi.subfootball.feature.playersdetail.PlayersDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
    </application>

</manifest>